/* Incluir Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
  --black: #000000ff;
  --tomato: #e35e8e;
  --black-2: #010000ff;
  --tangerine: #1b1b1b;
  --black-3: #010100ff;
}

body {
  font-family: 'Got Heroin', 'Roboto', sans-serif;
  color: #f2f2f2;
  background-color: #1b1b1b;
  scroll-behavior: smooth;
}

h1 {
  color: var(--tangerine);
  font-family: 'Mr Dafoe', cursive;
  font-size: 2.5rem;
}

p {
  font-size: 1rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, var(--tomato) 0%, var(--tangerine) 100%);
  transition: background 0.5s;
  height: 70px;
}

.navbar img {
  /* animation: shake 0.5s; */
  /* animation-iteration-count: infinite; */
  width: 40px;
  height: 40px;
}

.navbar img:hover {
  transform: scale(1.1);
}

/* .navbar .logo-text {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-family: 'Mr Dafoe', cursive;
  font-size: 10px;
  color: #f2f2f2;
  opacity: 0;
  animation: slideIn 3s forwards;
} */

.navbar-brand {
position: absolute;
left: 50%;
transform: translateX(-50%);
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50%) translateX(-100%);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateY(-50%) translateX(100%);
  }
}

.container {
  margin: 200px auto;
  text-align: center;
}

.container a {
  display: block;
  margin-bottom: 50px;
}


.container p {
  color: var(--tangerine);
  font-size: 20px;
}

.container h1 {
  margin-bottom: 50px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.linha-wx-sepadora {
  border: 0;                        /* remove bordas padrão */
  height: 0.1px;                      /* espessura da linha */
  background-color: #ffffff;           /* cor */
  margin: 2rem 0;                   /* espaço acima e abaixo */
  width: 100vw;                     /* ocupa a largura da viewport */
  position: center;
  left: 50%;
 /*  transform: translateX(-50%);      /* centraliza compensando scroll */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: linear-gradient(180deg, var(--tangerine) 0%, var(--tomato) 100%);
  color: #f2f2f2;
  padding: 20px 0;
  font-family: 'Lato';
  font-size: 10px;
  animation: glow 2s infinite;
}



@keyframes glow {
  0% { text-shadow: 0 0 5px var(--tangerine), 0 0 10px var(--tangerine), 0 0 15px var(--tangerine), 0 0 20px var(--tangerine); }
  100% { text-shadow: 0 0 10px var(--tangerine), 0 0 20px var(--tangerine), 0 0 30px var(--tangerine), 0 0 40px var(--tangerine); }
}

/* CSS para os ícones */

.social-section {
  margin-top: 10px; /* Novo */
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons a {
  position: relative; /* Adicione esta linha para posicionar o elemento pai */
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: #f2f2f2;
  font-size: 60px;
  align-items: center;
  transition: color 0.3s;
  background-image: none;
}

.social-icons a:hover { 
  font-family: 'Font Awesome'; 
  color: #e35e8e;
  content: '\f065'; /* Código do ícone "X" no Font Awesome */
}

.social-icons a::before {
  content: "X";
  font-family: 'Special Elite';
  font-size: 50px;
  position: absolute;
  top: 10;
  left: 60;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.social-icons a:hover::before {
  color: #e1e812;
  opacity: 1;
}

.perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.profile-image {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.nome-perfil {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: 'Special Elite';
  font-weight: 700;
  color: #f2f2f2;
  margin-left: 5px;
  vertical-align: middle;
}

.icone-verificado {
  height: 16px; /* Ajuste o tamanho do ícone de acordo com o necessário */
  width: 16px; /* Ajuste o tamanho do ícone de acordo com o necessário */
  margin-left: 5px; /* Adicione um pouco de margem à esquerda para dar espaço entre o texto e o ícone */
}   

.logo-img {
  margin-left: auto;
  margin-right: auto;
}

.desc-do-perfil {
  margin-top: 20px;
  font-size: 16px;
  font-family: 'Special Elite';
  font-weight: 550;
  text-align: center;
  color: #f2f2f2;
  text-rendering: optimizeLegibility;
}
.menu-btn {
  position: absolute;
  color: #f2f2f2;
  left: 10px;
}
.menu-btn:hover {
  color: var(--tangerine);
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.notification-btn {
  position: absolute;
  color: #f2f2f2;
  right: 10px;
}
.notification-btn:hover {
  color: var(--tangerine);
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('fontes/Lato-Bold.ttf');
  font-family: 'Lato-Regular';
  src: url('fontes/Lato-Regular.ttf');

}
/* SÓ O EMBED DO DISCORD */

.discord-embed-custom {
  /* gradiente horizontal + gradiente vertical */
  background-image: 
    linear-gradient(to bottom, #1b1b1b, #1b1b1b #1b1b1b);
  background-blend-mode: overlay;
  color: #fff;
  padding: 1.5rem;
  border-radius: 4px;
  max-width: 900px;
  width: 100%;
}

.discord-embed-custom .titulo {
  font-size: 4.25rem;
  margin-bottom: .25rem;
}

.discord-embed-custom .subtitulo {
  font-size: .9rem;
  margin-bottom: 1rem;
}

.member-list {
  max-height: 200px;
  overflow-y: auto;
}

.member .avatar {
  width: 32px;
  height: 32px;
}

.member span {
  font-weight: 500;
  font-size: .95rem;
}

/* botão de convite */
.btn-entrar {
  background: #e1e812;
  color: #e35e8e;
  font-weight: bold;
  padding: .5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  transition: background .2s, color .2s;
}

.btn-entrar:hover {
  background: #e35e8e;
  color: #c03965;
}

.minewx-call-to-action .cta-link {
  display: inline-block;      /* permite hover na área inteira */
  text-decoration: none;      /* remove sublinhado padrão */
  cursor: pointer;            /* muda o cursor ao passar por cima */
  transition: transform .2s;  /* animação suave */
}

.minewx-call-to-action .cta-image {
  max-width: 300px;
  width: 100%;
  height: auto;
  border: 0px solid #e1e812;
  border-radius: 2px;
  transition: filter .2s, transform .2s;
}

.minewx-call-to-action .cta-text {
  margin: .5rem 0 0;
  color: #e4e4e4;
  font-weight: 600;
  font-family: 'Special Elite';
}

.minewx-call-to-action .cta-link:hover .cta-image {
  transform: scale(1.03);     /* leve zoom */
  filter: brightness(1.1);     /* clareia um pouco */
}

.minewx-call-to-action .cta-link:hover .cta-text {
  color: #fff;                 /* destaca o texto */
}
